<nav class="navbar navbar-expand-lg" style="background-color: #00ABB3;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/emp/home/">Employee Management System</a>
  </div>
</nav>
<br/>
{% block content %}
<h1 class="text-center display-6">Employee/Manager Login</h1>
<div class="container">
  <form action="" method="POST">
    {% csrf_token %}
    {% include 'emp/base.html' %}

    <div class="mb-3">
      <label for="username">Username</label>
      <input type="username" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="mb-3">
      <label for="username">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
  
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
</div>
{% endblock %}